.bluePrincipal {
    // color: #013c74;
    background-color: #013c74;
}
.rougePrincipal {
    background-color: #e62f23;
}

.blueSecondaire {
    background-color: #006FB9;
}
.rougeSecondaire  {
    background-color: #b70e0c;
}



// @layer components {
//     .nomdelaclass {
//         @applay csstailwi;
//     }
// }